@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300&family=Raleway:wght@600&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    width: 100vw;
    height: 100vh;
    font-family: 'Noto Sans', sans-serif;
    color: #22272d;
    font-weight: 300;
}


/* RE-USABLE STUFF */

h1, h2, h3 {
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    color: #131313;
}

.dash {
    border-top: 7px solid #3e4146;
    height: 0;
    width: 4rem;
    margin: 0 auto;
    display: block;
}

.box-text {
    text-align: center;
    font-size: 2.3rem;
}


/* HEADER */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 3rem 5rem 3rem 3rem;
}

h1 {
    font-size: 450%;
}

header a {
    text-decoration: none;
}

#menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    font-size: 200%;
    list-style: none;
}

#menu a {
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #22272d;
}

.active {
    border-bottom: 1px solid #22272d;
}


/* HERO IMAGE SECTION*/

#hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#hero-image {
    height: 70rem;
    width: 100%;
    background: url(/assets/images/doruk-yemenici-FRJamIO-TB0-unsplash.jpg) no-repeat center center;
    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

@keyframes hero-zoom {
    from {
       transform: scale(1); 
    }
    to {
        transform: scale(1.1);
    }
}

#hero-text-box, #hero-text-box h2, #hero-text-box h3 {
    color:#000;
}

#hero-text-box {
    font-size: 150%;
    text-transform: uppercase;
    width: 20rem;
    position: absolute;
    top: 6rem;
    left: 13rem;
    display: flex;
    flex-direction: column;
    gap: 1.7rem;
    justify-content: center;
}

#hero-text-box h3{
    color: #a12e08;
    line-height: 2.3rem;
}


/* VALUES SECTION */

#values {
    width: 100%;
    height: 50rem;
    margin-bottom: 15rem;
}

#values h2 {
    font-size: 3rem;
    text-align: center;
    margin-top: 5rem;
    margin-bottom: 1rem;
}



.values-box {
    margin-top: 2rem;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    background-color: #ced5db;
}

.value-image {
    background-image: url(/assets/images/marek-piwnicki-PUVVsYJPh78-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 50vw;
}

.value-text {
    margin-right: 20rem;
    width: 30%;
}


/* WORK SECTION*/

#work {
    width: 100%;
    height: 50rem;
    margin-bottom: 15rem;
}

#work h2 {
    text-align: center;
    margin-bottom: 1rem;
    font-size: 3rem;
}

.work-box {
    margin-top: 2rem;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    background-color: #ced5db;
}

.work-image {
    background-image: url(/assets/images/marcus-ganahl-7-hgmSe7Bc4-unsplash\(1\).jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100%;
    width: 40%;
    
}

.work-text {
    width: 30%;
    text-align: center;
    margin-left: 15%;
}


/*STATISTICS SECTION*/

#statistics {
    width: 100%;
    height: 50rem;
    margin-bottom: 15rem;
}

#statistics h2 {
    text-align: center;
    margin-bottom: 1rem;
    font-size: 3rem;
}

#left-stats {
    padding-top: 3rem;
    width: 33%;
    float: left;
}

#right-stats {
    padding-top: 3rem;
    width: 33%;
    float: right; 
}

#middle-stats {
    padding-top: 3rem;
    width: 33%;
    margin: 0 auto;
}

.number {
    color: #a12e08;
}

.freed {
    width: 60%;
    float: right;
    line-height: 3rem;
    clear: both;
    margin: 5rem;
    text-align: center;
}

.legal {
    width: 60%;
    float: left;
    line-height: 3rem;
    clear: both;
    margin: 5rem;
    text-align: center;
}

.investigations {
    width: 60%;
    line-height: 3rem;
    margin: 5rem;
    text-align: center;
}