@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300&family=Raleway:wght@600&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    width: 100vw;
    height: 100vh;
    font-family: 'Noto Sans', sans-serif;
    color: #22272d;
    font-weight: 300;
}


/* HEADING FORMATS */

h1, h2, h3 {
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    color: #131313;
}


/* HEADER */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 3rem 5rem 3rem 3rem;
}

h1 {
    font-size: 450%;
}

header a {
    text-decoration: none;
}

#menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    font-size: 200%;
    list-style: none;
}

#menu a {
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #22272d;
}

.active {
    border-bottom: 1px solid #22272d;
}