@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300&family=Raleway:wght@600&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    width: 100vw;
    height: 100vh;
    font-family: 'Noto Sans', sans-serif;
    color: #22272d;
    font-weight: 300;
}


/* HEADING FORMATS */

h1, h2, h3 {
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    color: #131313;
}


/* HEADER */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
}